<template>
	<table class="table table-striped m-0 p-0">
		<tr v-for="num in [0,1,2,3]" v-show="question.options[num]!='–'" :class="{'bg-danger':wrongAnswer[num],'bg-success':correctAnswer[num], }">
			<td style="width:3em">{{['A','B','C','D'][num]}}</td>
			<td v-html="md.render(question.options[num])"/>
			<td style="width:3em">
				<tooltip-icon v-if="question.answer==num && !answered" :tip="$t('check')" src="~Main/img/check.svg"
					v-on:click="correctAnswer[num]=true;$forceUpdate();$emit('correct');answered=true"/>
				<tooltip-icon v-else-if="question.answer==num && answered" src="~Main/img/checked.svg"/>
				<tooltip-icon v-else-if="!wrongAnswer[num] && !answered " :tip="$t('check')" src="~Main/img/check.svg"
					v-on:click="wrongAnswer[num]=true;$emit('wrong');$forceUpdate()"/>
			</td>
		</tr>
	</table>
</template>

<script>
	import TooltipIcon from 'Main/components/TooltipIcon.vue';
	import md from 'Main/js/markdown.js';

	export default {
		name: 'show-options',
		components: {TooltipIcon},
		props: ['question'],
		data: function() {
			return {
				md:md,
				wrongAnswer:[],
				correctAnswer:[],
				answered:false
			}
		}
	}
</script>


<i18n>
{
	"de": {
		"check": "Prüfen"
	},
	"en": {
		"check": "Check"
	}
}
</i18n>
